[submodule "Boon/external/glm"]
	path = Boon/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "Boon/external/glfw"]
	path = Boon/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Boon/external/external/entt"]
	path = Boon/external/external/entt
	url = https://github.com/skypjack/entt
[submodule "Boon/external/entt"]
	path = Boon/external/entt
	url = https://github.com/skypjack/entt.git
[submodule "Editor/external/imgui"]
	path = Editor/external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Boon/external/external/json"]
	path = Boon/external/external/json
	url = https://github.com/nlohmann/json.git
[submodule "Boon/external/json"]
	path = Boon/external/json
	url = https://github.com/nlohmann/json.git
